{% extends 'db.template.html.twig' %}

{% block content %}

    <div class="ui grid">

        <div class="twelve wide column">

            <h1>Einstellungen</h1>

        </div>

    </div>

{% endblock %}