{% extends 'db.template.html.twig' %}

    {% block content %}
        {% for message in app.flashes('success') %}
            <div class="ui positive message">{{ message }}</div>
        {% endfor %}

        <h1>Benutzer erstellen</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
{% endblock %}