{% extends('db.template.html.twig') %}

{% block title %}Kategorie bearbeiten{% endblock %}

{% block content %}

    <h1>Kategorie bearbeiten</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}