{% extends 'db.template.html.twig' %}

{% block title %}Einstellung bearbeiten - Schülerblog Gymnasium Oesede{% endblock %}

{% block content %}

    <h1>Einstellung - {{ setting.name }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}