<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{% block title %}Sch端lerblog - Gymnasium Oesede{% endblock %}</title>
    <meta name="description" content="50 Jahre Gymnasium Oesede, ein Grund zum Feiern, mehr dazu auf unserer Infoseite">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/gymoesede.js"></script>
    <script src="https://assets.henrybrink.de/fontawesome/js/all.js"></script>
</head>

<body>



<div class="menu">

    <div class="menu-branding">
        <img src="/assets/img/logo.png" alt="Gymnasium Oesede Logo" height="40px" data-href="/">
    </div>

    <div class="hamburger-button">
        <span class="hamburger-btn" id="ham-btn-1"></span>
        <span class="hamburger-btn" id="ham-btn-2"></span>
        <span class="hamburger-btn" id="ham-btn-3"></span>
    </div>

</div>

<div class="sidemenu">

    <div class="ul-container-sidemenu">
        <ul class="ul-sidemenu">
            <li class="menu-link"><a href="/">Startseite</a></li>
            <li class="menu-link"><a href="/page/team">Das Team</a></li>
            <li class="menu-link"><a href="/page/schule">Die Schule</a></li>
        </ul>
    </div>

    <div class="closebutton">
        <span class="closebtn" id="closebtn1"></span>
        <span class="closebtn" id="closebtn2"></span>
    </div>

</div>

{% block outside %}{% endblock %}

{% if override_eyecathcer is not defined%}
    <div class="site-eyecatcher">
        <h1>{% block site_title %}{% endblock %}</h1>
        <div class="site-eyecatcher-overlay"></div>
    </div>
{% endif %}

<div class="textcontainer">
    {% block content %} {% endblock %}
</div>

<div class="footer">

    <div class="footer-content">
        <div class="footer-grid" id="grid1">
            <span class="grid-heading">Sch端lerblog - Gymnasium Oesede</span>
            <ul class="footer-links">
                <li><a href="/login">Anmelden</a></li>
                {% if is_granted("ROLE_EDITOR") %}
                    <li><a href="/dashboard">Dashboard</a></li>
                {% endif %}
                <li><a href="/api/auth/authenticate">Mit IServ anmelden</a></li>
            </ul>
        </div>

        <div class="footer-grid" id="grid1">
            <span class="grid-heading">Infomation</span>
            <p>Der Sch端lerblog des Gymnasiums Oesede ist Teil des Internetangebotes am Gymnasium Oesede, der Blog wird von einer Redaktion bestehend aus Sch端lern und Lehrern betrieben, weitere Details finden Sie unter "Team"</p>
        </div>
    </div>

    <div class="footer-menu">
        <span>2018 - Gymnasium Oesede <a href="https://gymnasium-oesede.de/impressum">Impressum & Datenschutz</a></span>
    </div>

</div>

</body>

</html>
