<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{% block title %}Schülerblog - Gymnasium Oesede{% endblock %}</title>
    <meta name="description" content="50 Jahre Gymnasium Oesede, ein Grund zum Feiern, mehr dazu auf unserer Infoseite">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/gymoesede.js"></script>
    <script src="https://assets.henrybrink.de/fontawesome/js/all.js"></script>
</head>

<body>

<div class="menu">

    <div class="menu-branding">
        <img src="/assets/img/logo.png" alt="Gymnasium Oesede Logo" height="40px" data-href="/">
    </div>

    <div class="hamburger-button">
        <span class="hamburger-btn" id="ham-btn-1"></span>
        <span class="hamburger-btn" id="ham-btn-2"></span>
        <span class="hamburger-btn" id="ham-btn-3"></span>
    </div>

</div>

<div class="sidemenu">

    <div class="ul-container-sidemenu">
        <ul class="ul-sidemenu">
            <li class="menu-link"><a href="/">Startseite</a></li>
            <li class="menu-link"><a href="/team">Das Team</a></li>
            <li class="menu-link"><a href="/schule">Die Schule</a></li>
            <li class="menu-link"><a href="/angebote">Weitere Angebote</a></li>
        </ul>
    </div>

    <div class="closebutton">
        <span class="closebtn" id="closebtn1"></span>
        <span class="closebtn" id="closebtn2"></span>
    </div>

</div>

