<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        <title>{% block title %}Dashboard{% endblock %} - Gymnasium Oesede Schülerblog</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
            <link rel="stylesheet" href="/assets/css/dashboard.css">
        {% endblock %}

        {% block scripts %}
            <script src="/assets/js/jquery-3.3.1.min.js"></script>
            <script src="/assets/semantic/semantic.min.js"></script>
            <script src="https://assets.henrybrink.de/fontawesome/js/all.js"></script>
            {% if tinymce is defined and tinymce %}
            <script src="'/assets/tinymce/tinymce.min.js"></script>
            <script src="'/assets/js/tinymce.js"></script>
            {% endif %}
            <script>
                $(document).ready(function() {
                    $('.ui.dropdown').dropdown();
                });
            </script>
        {% endblock %}
    </head>

    <body>

        <div class="ui sticky menu">

            <span class="item">Schülerblog</span>

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                <a class="item" href="/dashboard/">Dashboard</a>

                <div class="ui dropdown item">
                    Beiträge
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/dashboard/posts/add"><i class="fas fa-plus"></i> Hinzufügen</a>
                        <a class="item" href="/dashboard/posts/list/my"><i class="fas fa-list"></i> Meine Beiträge</a>
                    </div>
                </div>


                {% if is_granted('ROLE_MOD') %}
                    <div class="ui dropdown item">
                        Moderation <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/dashboard/moderation/posts" class="item"><i class="fas fa-file"></i> Beiträge</a>
                            <a href="/dashboard/moderation/comments" class="item">Kommentare</a>
                        </div>
                    </div>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="ui dropdown item">
                        Administration <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/dashboard/admin/users/" class="item"><i class="fas fa-users"></i> Benutzer</a>
                            <a href="/dashboard/admin/pages" class="item"><i class="fas fa-file"></i> Seiten</a>
                        </div>
                    </div>
                {% endif %}

                <a class="item" href="/">Frontend</a>

                <a class="item" href="/logout">Abmelden</a>

            {% endif %}
        </div>